include README.md
include LICENSE
include dsharp_opac/optical_constants/*/*
include dsharp_opac/optical_constants/*/*/*
include notebooks/*.ipynb
include notebooks/*.py
include notebooks/*.npz
include notebooks/data/*.+
